:root {
  --background-color: linear-gradient(45deg, #02001f, #1f1b4e);
  --text-color: #ff2c75;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.list {
}

.list-item {
}
